.paper{
    padding: 2rem;
    .main-box{
        display: flex;
        flex-direction: column;
        align-items: center;

        .submit-button{
            margin-top:1rem;
            margin-bottom: 1rem;
        }
    }
    .sign-in-box{
        text-align: center;
    }
}